@import "tailwindcss";

@theme {
  --font-primary:"Noto Sans", "sans-serif";
}

@layer base {
  html, body {
    @apply font-primary bg-zinc-100 text-zinc-600;
  }

  #__nuxt {
    display:grid;
    grid-template-areas:'header' 'main' 'footer';
    grid-template-rows:auto 1fr auto;
    min-height:100vh;

    header {
      grid-area:header;
    }

    main {
      grid-area:main;
    }

    footer {
      grid-area:footer;
    }
  }

  .container {
    @apply mx-auto;
  }

  .dark {
    html, body {
      @apply bg-zinc-900 text-zinc-300 tracking-[.026em];
    }
  }
}

@layer components {
  .section {
    @apply py-8;
  }

  .section--title {
    @apply text-8xl font-extralight;
  }

  .section--paragraph {
    @apply text-xl font-normal leading-[1.75];
  }

  .dark {
    .section-title {
      @apply font-thin;
    }

    .section--paragraph {
      @apply font-light;
    }
  }
}
