@import "tailwindcss";

@theme {
  --font-primary:"Noto Sans", "sans-serif";
}

@layer base {
  html, body {
    @apply font-primary bg-stone-100 text-stone-700 transition-colors! duration-300;
  }

  #__nuxt {
    display:grid;
    grid-template-areas:'header' 'main' 'footer';
    grid-template-rows:auto 1fr auto;
    min-height:100vh;

    header {
      grid-area:header;
    }

    main {
      grid-area:main;
    }

    footer {
      grid-area:footer;
    }
  }

  .container {
    @apply mx-auto;
  }

  .section {
    @apply py-8;
  }

  .section--title {
    @apply text-8xl font-thin;
  }

  .section--paragraph {
    @apply text-xl font-light leading-[1.75];
  }

  .section--content {
    @apply space-y-8;

    h1 {
      @apply text-8xl font-thin;
    }

    p {
      @apply text-xl font-light leading-[1.75];
    }
  }

  .dark {
    html, body {
      @apply bg-zinc-900 text-zinc-300;
    }
  }
}

