@import "tailwindcss";

@theme {
  --font-primary:"Noto Sans", "sans-serif";
}

@layer base {
  html, body {
    @apply font-primary bg-zinc-100 text-zinc-600;
  }

  #__nuxt {
    display:grid;
    grid-template-areas:'header' 'main' 'footer';
    grid-template-rows:auto 1fr auto;
    min-height:100vh;

    header {
      grid-area:header;
    }

    main {
      grid-area:main;
    }

    footer {
      grid-area:footer;
    }
  }

  .container {
    @apply mx-auto;
  }

  .section {
    @apply py-8;
  }

  .section--title {
    @apply text-8xl font-extralight;
  }

  .section--paragraph {
    @apply text-xl font-normal leading-[1.75];
  }

  .section--content {
    @apply space-y-8;

    h1 {
      @apply text-8xl font-extralight;
    }

    p {
      @apply text-xl font-normal leading-[1.75];
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .3s;
  }
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  .dark {
    html, body {
      @apply bg-zinc-900 text-zinc-300 tracking-[.026em];
    }

    .section-title {
      @apply font-thin;
    }

    .section--paragraph {
      @apply font-light;
    }

    .section--content {
      h1 {
        @apply font-thin;
      }

      p {
        @apply font-light;
      }
    }
  }
}

